		<h2>Beers</h2>
  <form name="EditBeer" novalidate class="simple-form">
		<table>
		<tr>
			<td><label>ID:</label></td>
			<td> <input type="text" ng-model="beer.id" size="33" required></td>
			</tr>
		<tr>
			<td><label>Name:</label></td>
			<td> <input type="text" ng-model="beer.brand" size="33" required></td>
			</tr>

		<tr>
			<td><label>Price:</label></td>
			<td> <input type="text" ng-model="beer.price" size="33" required></td>
			</tr>
		</table>
		<button ng-click="reset()">RESET</button>
        <button ng-click="saveBeer(beer)">SAVE</button>
      </form>