<html>
    <head> 
        <title>EventDetails</title>
        <link rel = "stylesheet" href="css/bootstrap.min.css"/>     
    </head>
        
    <body ng-app="eventsApp">  
        {{2+1}}
                
        <div class="container" ng-controller = "eventsController">
            <div class = "col-md-12" >
                
                <h1 >{{event.name | uppercase}} </h1>
                <ul>
                    <li ng-repeat="topic in event.topics" ng-class-odd="colorgray">
                            <span ng-class-odd="olorgray" ng-class-even="'colorred'">
                               {{topic.title }} {{topic.voteCount }} 
                            <a name="up" ng-click="increaseVote(topic)">up</a>
                            <a name="up" ng-click="decreaseVote(topic)">down</a>
                        </span>

                    </li>
                </ul>
            </div>
            <div class="container">
        </div>
        
        </div>
        
       <script src = "lib/jquery-1.11.2.min.js" ></script>
      <script src = "lib/angular/angular.js" ></script>  
    <script src = "js/controller/eventsController.js" ></script>
    </body>    
</html>    